{% extends 'DOHMainBundle:Default:index.html.twig' %}

{% block title %}Infrastructure{% endblock %}

{% block subnavigation %}
    <a href="{{ path('doh_guide_guide_list') }}" class="doh-nav-item {{ _menu.active('doh_guide_guide_list') }}">Guides</a>
{% endblock %}
