/web/bundles/
/web/vendor/
/web/assets/
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
/var/grunt/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/grunt/.gitkeep
/build/
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements
/composer.phar
/node_modules
