<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title_full %}DoH - {% block title %}Dashboard{% endblock %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/app.min.css') }}"/>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        {% block body %}
            <header class="doh-masthead">
                <div class="doh-header">
                    DoH
                </div>
                <nav class="doh-nav">
                    {% block subnavigation %}{% endblock %}
                </nav>
            </header>
            <aside class="doh-sidebar">
                <nav class="doh-sidebar-nav">
                    <ul>
                        <li class="active"><a href="#"><i class="fa fa-dashboard"></i><span>test</span></a></li>
                        <li><a href="#"><i class="fa fa-sitemap"></i><span>test</span></a></li>
                        <li><a href="#"><i class="fa fa-file-o"></i><span>test</span></a></li>
                        <li><a href="#"><i class="fa fa-list-alt"></i><span>test</span></a></li>
                        <li><a href="#"><i class="fa fa-windows"></i><span>test</span></a></li>
                        <li><a href="#"><i class="fa fa-linux"></i><span>test</span></a></li>
                        <li><a href="#"><i class="fa fa-info"></i><span>test</span></a></li>
                    </ul>
                </nav>
            </aside>
            <div class="doh-content">
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/js/footer.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
