<header>
  <h1>DevOps Home</h1>
  <p>Documentation platform for developers and ops</p>
  <p class="view"><a href="http://github.com/NoUseFreak/DevOpsHome">View the Project on GitHub <small>NoUseFreak/DevOpsHome</small></a></p>
  <ul>
    <li><a href="https://github.com/NoUseFreak/DevOpsHome/zipball/master">Download <strong>ZIP File</strong></a></li>
    <li><a href="https://github.com/NoUseFreak/DevOpsHome/tarball/master">Download <strong>TAR Ball</strong></a></li>
    <li><a href="http://github.com/NoUseFreak/DevOpsHome">Fork On <strong>GitHub</strong></a></li>
  </ul>
</header>