{% extends 'DOHInfraBundle:Default:index.html.twig' %}

{% block title %}{{ parent() }} - New{% endblock %}

{% block content %}

    <div class="doh-block">
        <h2>New server</h2>
        {{ form(form) }}
    </div>

{% endblock %}
