{% extends '::base.html.twig' %}

{% block title %}Infrastructure{% endblock %}

{% block subnavigation %}
    <a href="{{ path('doh_infra_new') }}" class="doh-nav-item active">New</a>
{% endblock %}

