{% extends 'DOHMainBundle:Default:index.html.twig' %}

{% block title %}Infrastructure{% endblock %}

{% block subnavigation %}
    <a href="{{ path('doh_infra_list') }}" class="doh-nav-item {{ _menu.active('doh_infra_list') }}">List</a>
    <a href="{{ path('doh_infra_new') }}" class="doh-nav-item {{ _menu.active('doh_infra_new') }}">New</a>
{% endblock %}
