{% extends 'DOHInfraBundle:Default:index.html.twig' %}

{% block title %}{{ parent() }} - New{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            {{ form(form) }}
        </div>
        <div class="col-md-3">
            <div class="sidebar-module sidebar-module-inset">
                <h4>Stats</h4>
                <table class="table table-condensed table-hover">
                    <tr><td>Servers</td><td><b>12</b></td></tr>
                    <tr><td>Guides</td><td><b>12</b></td></tr>
                </table>
            </div>
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>
                    DevOps Home is a place to store and document all infrastructure information.
                    It keeps all your documentation in a structured order.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
