<div class="sidebar-module sidebar-module-inset">
    <h4>Stats</h4>
    <table class="table table-condensed table-hover">
        <tr><td>Servers</td><td><b>{{ serverCount }}</b></td></tr>
        <tr><td>Guides</td><td><b>12</b></td></tr>
    </table>
</div>
