{% extends '::base.html.twig' %}

{% block subnavigation %}
    <a href="#" class="doh-nav-item active">Dashboard</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">

            <div class="doh-block">
                <h2>Servers</h2>
                <div class="doh-action">
                    <ul class="list-inline">
                        <li><a href="#">Search</a></li>
                        <li><a href="#">Add</a></li>
                    </ul>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>axlinwebt11a</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>axlinwebt11b</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>axlinproxyt11a</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>axlinproxyt11b</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sidebar-module sidebar-module-inset">
                <h4>Stats</h4>
                <table class="table table-condensed table-hover">
                    <tr><td>Servers</td><td><b>12</b></td></tr>
                    <tr><td>Guides</td><td><b>12</b></td></tr>
                </table>
            </div>
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>
                    DevOps Home is a place to store and document all infrastructure information.
                    It keeps all your documentation in a structured order.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
