{% extends '::base.html.twig' %}

{% block subnavigation %}
    <a href="{{ path('doh_main_dashboard') }}" class="doh-nav-item {{ _menu.active('doh_main_dashboard') }}">Dashboard</a>
    <a href="{{ path('doh_main_about') }}" class="doh-nav-item {{ _menu.active('doh_main_about') }}">About</a>
{% endblock %}

{% block content %}
    content
{% endblock %}
