
body {
  color: #555;
  font-family: Georgia,"Times New Roman",Times,serif;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  margin-top: 0;
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/**
 * Header
 */
.doh-masthead {
  background-color: #428bca;

  .doh-header a {
    float: left;
    color: #cdddeb;
    position: absolute;
    z-index: 1000;
    padding: 5px 13px;
    font-size: 20px;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }

  .doh-nav {
    margin-left: 60px;
    padding-left: 50px;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1) inset;
    height: 40px;
    margin-right: 10px;

    .active {
      color: #fff;
      &:after {
        border-bottom: 5px solid;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        bottom: 0;
        content: " ";
        height: 0;
        left: 50%;
        margin-left: -5px;
        position: absolute;
        vertical-align: middle;
        width: 0;
      }
    }
  }

  .doh-nav-item {
    color: #cdddeb;
    display: inline-block;
    font-weight: 500;
    padding: 10px;
    position: relative;

    &:hover, &:focus {
      color: #fff;
      text-decoration: none;
    }
  }

  img.avatar {
    height: 30px;
    width: 30px;
    margin: 5px;
  }
}

/**
 * sidebar
 */

.doh-sidebar {
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 60px;
  background-color: #428bca;

  .doh-sidebar-nav {
    margin-top: 40px;
    box-shadow: -2px 0 0 rgba(0, 0, 0, 0.1) inset;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li a {
        color: #cdddeb;
        padding: 10px;
        display: block;
      }

      li a:hover,
      li.active a {
        color: #ffffff;
      }
    }

    i {
      font-size: 40px;
      width: 100%;
      text-align: center;
    }
    span {
      display: none;
    }
  }
}

/**
 * Content
 */
.doh-content {
  padding-top: 15px;
  margin-left: 60px;
}


/**
 * Module
 */

.sidebar-module {
  margin: 0 0 15px;
  padding: 15px;
}
.sidebar-module-inset {
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 15px;

  p:last-child, ul:last-child, ol:last-child {
    margin-bottom: 0;
  }
}

/**
 * block
 */

.doh-block {
  background-color: #fff;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  box-shadow: none;
  margin: 0 0 20px 0;
  padding: 45px 15px 15px;
  position: relative;

  h2.doh-block-title {
    color: #959595;
    font-size: 12px;
    font-weight: 700;
    left: 15px;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
  }

  .doh-action {
    border-radius: 0 4px;
    border: 0 solid #e1e1e8;
    border-bottom-width: 1px;
    border-left-width: 1px;
    top: 0;
    right: 0;
    color: #777;
    cursor: pointer;
    display: block;
    font-size: 12px;
    position: absolute;

    ul {
      margin: 0;
    }
    li {
      padding: 5px 8px;
      border-right: 1px solid #e1e1e8;

      &:last-child {
        border: none;
      }
    }
  }

  &.doh-tabbed {
    .doh-tabs {
      border-bottom: 1px solid #e1e1e8;
      display: block;
      left: 0;
      list-style: none outside none;
      padding: 0;
      position: absolute;
      top: 0;
      width: 100%;

      li {
        display: inline-block;
        border-right: 1px solid #e1e1e8;

        a {
          display: block;
          padding: 5px 10px;
          color: #959595;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-decoration: none;
        }
        &.active a {
          color: #428bca;
        }
      }
    }

    .doh-tab {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}

#doh-keyboard-help {
  table {
    width: 49%;
    display: inline-block;
    tr td:first-child {
      text-align: right;
      padding: 5px 5px 5px 0;
    }
    span {
      background-color: #333;
      border-radius: 3px;
      box-shadow: 0 -2px 0 #111 inset;
      color: #eee;
      display: inline-block;
      font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
      font-size: 11px;
      line-height: 1;
      min-width: 20px;
      padding: 5px 6px;
      text-align: center;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
      margin-right: 4px;
    }
  }
}
