
/**
 * Bootstrap
 */
@bootstrap-vendor-path: "../../../../../../web/vendor/bootstrap/less";
@import "@{bootstrap-vendor-path}/variables";
@import "@{bootstrap-vendor-path}/mixins";
@import "@{bootstrap-vendor-path}/normalize";
@import "@{bootstrap-vendor-path}/print";
@import "@{bootstrap-vendor-path}/glyphicons";
@import "@{bootstrap-vendor-path}/scaffolding";
@import "@{bootstrap-vendor-path}/type";
@import "@{bootstrap-vendor-path}/code";
@import "@{bootstrap-vendor-path}/grid";
@import "@{bootstrap-vendor-path}/tables";
@import "@{bootstrap-vendor-path}/forms";
@import "@{bootstrap-vendor-path}/buttons";
/**
 * Font-Awesome
 */
@fontawesome-vendor-path: "../../../../../../web/vendor/components-font-awesome/less";
@import "@{fontawesome-vendor-path}/variables";
@fa-font-path: "../../../../../../vendor/components-font-awesome/fonts";
@import "@{fontawesome-vendor-path}/mixins";
@import "@{fontawesome-vendor-path}/path";
@import "@{fontawesome-vendor-path}/core";
@import "@{fontawesome-vendor-path}/icons";

/**
 * Project
 */
@import "base";
