<div class="box-header">
    <div class="box-title">
        {% block title_icon %}<i class="fa fa-circle-thin"></i>{% endblock %}
        {% block title %}Title{% endblock %}
    </div>
    <div class="box-actions">
        {% block actions %}{% endblock %}
    </div>
</div>
